html {
    height: 100%;
}

body {
    background-color: #f1f5f5;
    max-height: 100%;
    min-height: 100%;
}

@media (orientation: landscape) {
    #map_and_stats {
        flex-direction: row;
    }

    #map {
        flex: 8;
    }

    details {
        flex: 1 150px;
    }
}

@media (orientation: portrait) {
    #map_and_stats {
        flex-direction: column;
    }

    #map {
        flex: 2 2 auto;
    }

    details {
        flex: 1 1 auto;
    }
}

h1 {
    color: #000055;
    margin-left: 20px;
}

#map_and_stats {
    display: flex;
}

#map {
    margin: 0.5em;
    height: 80vh;
    width: 100%;
}

details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
}

summary {
  font-weight: bold;
  margin: -0.5em -0.5em 0;
  padding: 0.5em;
}

details[open] {
    padding: 0.5em;
}

details[open] summary {
  border-bottom: 1px solid #aaa;
  margin-bottom: 0.5em;
}

table {
    width: 100%;
}

tr:nth-child(even) {background: #CCC}
tr:nth-child(odd) {background: #f1f5f5}
